nav{
    background-color: #d8648b;
}

.navbar-brand{
color: #f5b9c6c7;
}

.nav-link{
color: white;
}

.navbar-button{
margin:10px;
}

#navbar-login{
border-color: #f5b9c6c7;
color:#f5b9c6c7;
background-color: #d8648b;
}

#navbar-login:hover{
background-color: white;
}

#navbar-signup{
color:white;
background-color: #f5b9c6c7;
border-color: #f5b9c6c7;
}

#navbar-signup:hover{
color: black;
}

